# Submission script
*.sh

# Byte-compiled / optimized / DLL Files
__pycache__/
*.py[cod]

# C Extensions
*.so

# Output and log files
*.out
out/
output/
mgt.e*
mgt.o*
mgt.p*

# Pycharm folder
.idea/saved_models/*.ckpt

qmof_database/*
wandb/*
saved_models/*
wandb/*
modules/__pycache__/
utils/*__pycache__/

saved_models/*
wandb/*
modules/__pycache__/
utils/*__pycache__/
qmof_database/*
wandb/*